<template>
  <div
      :class="'categoria-evento categoria-evento-' + event.category.id"
      @mouseenter="showTooltip = true; placeTooltip()"
      @mouseleave="showTooltip = false"
  >
    <a href="#" @click.prevent="showPopup = true; showTooltip = false;" class="event-link">{{ event.name }}</a>
    <transition name="fade">
      <div class="calendar-popup" v-if="showPopup" @click.self="showPopup = false">
        <div class="close" @click="showPopup = false">X</div>
        <div class="content">
          <h2>{{ event.name }}</h2>
          <div class="info">
            <!-- Fechas --->
            <template v-if="event.startDate != ''">
              <div>
                <i class="far fa-calendar-alt"></i>
                <template v-if="(event.endDate != null) && (event.startDate != event.endDate)">
                  Del
                </template>
                {{ event.startDate }}
                <template v-if="(event.endDate != null) && (event.startDate != event.endDate)">
                  al {{ event.endDate }}
                </template>
              </div>
            </template>

            <!-- Ubicación --->
            <template v-if="event.location != null && event.location != ''">
              <div>
                <i class="fas fa-map-marker-alt"></i> {{ event.location }}
              </div>
            </template>

          </div>
          <template v-if="event.description.length > 0">
            <strong class="label">Descripción del evento: </strong>
            <div v-html="event.description" class="description"></div>
          </template>
          <div class=" text-center mt-4" >
            <a :href="event.url" class="btn btn-primary" style=" display: inline-block; color: white; font-size: 1.5rem; margin-bottom: 0;">Más información</a>
          </div>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div class="event-tooltip" v-if="showTooltip">
        {{ event.name }}
      </div>
    </transition>
    
  </div>
</template>

<script>
export default {
  name: "CalendarEvent",
  data: function () {
    return {
      showPopup: false,
      showTooltip: false
    }
  },
  props: {
    event: {
      type: Object,
      required: true
    }
  },
  methods: {
    placeTooltip: function () {
      setTimeout(function () {
        let element = document.getElementsByClassName('event-tooltip')[0];
        let bodyRect = document.getElementById('event-calendar').getBoundingClientRect(),
            elemRect = element.getBoundingClientRect();

        if (elemRect.right > bodyRect.right) {
          element.style.left = 'calc(50% + ' + (bodyRect.right - elemRect.right) + 'px)';
        }

        if (elemRect.left < bodyRect.left) {
          element.style.left = 'calc(50% + ' + (bodyRect.left - elemRect.left) + 'px)';
        }

      }, 300);
    }
  }
}
</script>

<style scoped>
a, .description >>> a {
  color: #000;
}

h2 {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.calendar-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}

.calendar-popup .content {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  width: 90%;
  max-width: 75rem;
  text-align: left;
  padding: 2rem;
  overflow-y: auto;
}

.calendar-popup .close {
  background: white;
  font-size: 2rem;
  padding: 1rem;
  opacity: 1;
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0
}

.info > div {
  margin-bottom: 1rem;
}

.description {
  background: #f7f7f7;
  padding: 2rem;
}

.label {
  margin-bottom: 0.5rem;
  display: block;
}

/* Los colores de las categorías de eventos los dejo en el CSS del proyecto, para poder cambiarlos sin tocar el módulo */

.event-tooltip {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background: white;
  min-width: 20rem;
  z-index: 1;
  transform: translateX(-50%);
  padding: 1rem;
  color: black;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}

.categoria-evento .arrow {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.categoria-evento {
  position: relative;
}

</style>
