<template>
  <div class="listado-categorias-evento">
    <a href="#" @click.prevent="filterByCategory('')" class="categoria-evento">Todas</a>
    <div v-for="category in categories" >
      <a href="#" @click.prevent="filterByCategory(category.id)" :class="'categoria-evento categoria-evento-'+category.id">{{ category.name }}</a>
      <div v-for="child in category.children" class="child-category">
        <a href="#" @click.prevent="filterByCategory(child.id)" :class="'categoria-evento categoria-evento-'+child.id">{{ child.name }}</a>
      </div>
    </div>
  </div>
</template>

<script>

import {eventsCalendarApi} from "../modules/EventsCalendarApi";
import EventBus from "../modules/EventBus";

export default {
  name: "CalendarCategories",
  data: function () {
    return {
      categories: []
    }
  },
  mounted() {
    let vueInstance = this;
    eventsCalendarApi.getCategories().then(function (response) {
      vueInstance.categories = response;
    });
  },
  methods: {
    filterByCategory: function (id) {
      EventBus.$emit('set-category', id);
    }
  }
}
</script>

<style scoped>
.listado-categorias-evento a {
  display: block;
  margin-bottom: .5rem;
}

.categoria-evento  {
  padding: .5rem 1rem;
}

.child-category a {
  padding: .5rem 2.5rem;
}

</style>
