<template>
  <div id="event-calendar" :class="this.format">
    <CalendarMonth/>
  </div>
</template>

<script>
import CalendarMonth from "./CalendarMonth.vue";

export default {
  name: "App",
  props: ["format"],
  components: {
    CalendarMonth
  }
};
</script>

<style>
#event-calendar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#event-calendar.full {
  overflow-x: auto;
}

body {
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
}

#event-calendar ol,
#event-calendar li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendar-month-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.day-of-week li {
  padding-bottom: .5rem !important;
  padding-top: .5rem !important;
  font-weight: bold;
  font-size: 1.4rem;
}

.day-events {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: .5rem;
}

.day-events > div {
  margin-right: 0.2rem;
}

/* Estilo para el calendario mini */

.mini .day-events a.event-link {
  font-size: 0;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  display: inline-block;
}

.mini .calendar-month-header {
  font-size: 1.5rem;
}

.mini .calendar-date-indicator.calendar-month-header-selected-month {
  font-size: 1.5rem;
}

.mini .calendar-day {
  min-height: 5.5rem;
}

/* Estilo para el calendario full */

.full .categoria-evento a {
  margin-bottom: 1rem;
  display: block;
  padding: .5rem;
}

.full .day-events {
  margin-top: 1.5rem;
}

.full .event-tooltip {
  display: none;
}

.full .day-events {
  display: block;
}

</style>
